<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header ">
    <div class="container d-flex justify-content-between align-items-center py-2">
      <h1 class="logo"><a href="index.html">d’Perfume</a></h1>
      <ul class="menu d-none d-lg-flex">
        <li class="mr-6">
          <a class="d-flex" href="#">
            <span class="material-icons">
              store
            </span>
            <p>Product</p>
          </a>
        </li>
        <li class="mr-6">
          <a class="d-flex" href="#">
            <span class="material-icons">
              person
            </span>
            <p>log in</p>
          </a>
        </li>
        <li class="mr-6">
          <a class="d-flex" href="#">
            <span class="material-icons">
              favorite
            </span>
            <p>Wishlist</p>
          </a>
        </li>
        <li>
          <a class="d-flex" href="">
            <span class="material-icons">
              shopping_cart
            </span>
            <p>Cart(3)</p>
          </a>
        </li>
      </ul>
      <ul class="menu d-flex d-lg-none align-items-center">
        <li>
          <a class="d-flex" href="#">
            <span class="material-icons">
              shopping_cart
            </span>
            <p class="rounded-circle shoppingCartNumber">3</p>
          </a>
        </li>
        <li>
          <a class="d-flex" href="#">
            <span class="material-icons" style="font-size: 48px;">
              menu
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="brand d-none">
      <ul class="container d-flex py-3">
        <li><a href="#">CHANEL</a></li>
        <li><a href="#">Jo Malone</a></li>
        <li><a href="#">Curology</a></li>
        <li><a href="#">Dior</a></li>
        <li><a href="#">Chloe</a></li>
        <li><a href="#">ZARA</a></li>
      </ul>
    </div>
  </header>

  <%- contents %>

  <footer class="footer py-3">
    <div class="container d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="logo mr-4"><a href="index.html">d’Perfume</a></h1>
        <p>© 2020. All Rights Reserved.</p>
      </div>
      <ul class="footerMenu d-none d-lg-flex">
        <li class="footerMenuItems"><a href="#">Product</a></li>
        <li class="footerMenuItems"><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>