// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.primary-color {
  color: $primary;
}


ul {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-bottom: 0;
}



.subTitle {
  font: normal normal bold 40px/60px SF Pro Text;
  // font-size: 10px;
}

.smallTitle {
  font: normal normal bold 32px/48px SF Pro Text;
}

.miniTitle {
  font: normal normal 600 24px/36px SF Pro Text;
}

.largeText {
  font: normal normal normal 24px/36px SF Pro Text;
}

.normalText {
  font: normal normal 300 20px/30px PingFang TC;
}

.smallText {
  font: normal normal 600 16px/24px PingFang TC;
}

.miniText {
  font: normal normal 300 16px/24px SF Pro Text;
}

// font
.lato-regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.lato-bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.roboto-mono-regular {
  font-family: 'Roboto Mono', monospace;
}


.logo {
  float: left;
  a {
    // background-image: url("../images/d’Perfume.png");
    width: 128px;
    height: 38px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    word-spacing: nowrap;
    // float: left;
  }
}


.header {
  .logo {
    a {
      background-image: url("../images/d’Perfume.png");
    }
  }
  .menu {
    a {
      color: $secondary;
      text-decoration: none;
    }
  }

  
}

.footer {
  display: block;
  background: $primary;
  color: white;
  .logo {
    a {
      background-image: url("../images/d’Perfumewhite.png");
    }
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.banner {
    color: white;
}

.bannerImage {
  background: url("../images/index1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.bannerImage, .bannerImageText {
  height: 400px;
}

.brand {
  background:$primary;
  li {
    margin-right: 32px; 
  }
  a {
    color:white;
    text-decoration: none;
  }
}

.largeButton {
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  background: transparent;
}

.footerMenuItems {
  margin-right: 2.25rem;
}
  
